/* Modal.css */

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

.modelDesign {
    background-color: #fff;
    width: 420px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.custom-pointer {
    cursor: pointer;
}

/* Additional styles for the hover effect */
.cursor-pointer:hover {
    background-color: #f8f9fa;
    /* Change the background color on hover as needed */
}